@font-face {
    font-family: 'JirovecType';
    src: url('fonts/JIROVECTYPE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JirovecType', sans-serif;
}

a {
    color:black;
    font-size:1.6em;
    text-decoration: none;
}

.main {
    margin-top: 16%; /* Offset the content 20% down from the top */
}

#website-name {
    font-size: 8em;
    margin-bottom: 0.2em;
}


.footer {
    display: flex;
    justify-content: center; /* Center the footer links */
    margin-top: 80px; /* Space above the footer */
}

.footer-links a {
    margin: 0 20px; /* Space between links */
    font-size: 1.2em; /* Size of the footer links */
}